@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../projects/webstart/src/sass/_interface.sass */
* {
  box-sizing: border-box;
}

/* line 4, ../projects/webstart/src/sass/_interface.sass */
body {
  font-family: 'Museo Sans Light', sans-serif;
}

/* line 7, ../projects/webstart/src/sass/_interface.sass */
img {
  max-width: 100%;
}

/* line 10, ../projects/webstart/src/sass/_interface.sass */
.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  /* line 14, ../projects/webstart/src/sass/_interface.sass */
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  /* line 17, ../projects/webstart/src/sass/_interface.sass */
  .container {
    max-width: 580px;
    width: 90%;
  }
  /* line 20, ../projects/webstart/src/sass/_interface.sass */
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* line 24, ../projects/webstart/src/sass/_interface.sass */
.button {
  border-radius: 10px;
  background-color: #ffd000;
  border: none;
  padding: 18px 30px;
}

/* line 29, ../projects/webstart/src/sass/_interface.sass */
.button:hover {
  background-color: #ffd933;
  cursor: pointer;
}

/* line 33, ../projects/webstart/src/sass/_interface.sass */
.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* line 36, ../projects/webstart/src/sass/_interface.sass */
.section-title {
  font-size: 24px;
  text-align: center;
  max-width: 500px;
}

/* line 40, ../projects/webstart/src/sass/_interface.sass */
.section-subtitle {
  display: block;
  font-size: 16px;
}

/* line 43, ../projects/webstart/src/sass/_interface.sass */
.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

/* line 51, ../projects/webstart/src/sass/_interface.sass */
.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/* line 53, ../projects/webstart/src/sass/_interface.sass */
.error {
  border: 1px solid yellow;
}

/* Импорт стилей шапки */
/* line 1, ../projects/webstart/src/sass/blocks/_navbar.sass */
.navbar {
  padding: 8px 0;
}

/* line 3, ../projects/webstart/src/sass/blocks/_navbar.sass */
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 7, ../projects/webstart/src/sass/blocks/_navbar.sass */
.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

/* line 11, ../projects/webstart/src/sass/blocks/_navbar.sass */
.navbar__address {
  display: flex;
  flex-direction: column;
}

/* line 14, ../projects/webstart/src/sass/blocks/_navbar.sass */
.navbar__button {
  margin-left: 30px;
}

/* line 16, ../projects/webstart/src/sass/blocks/_navbar.sass */
.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: "Museo Sans Cyrl -700";
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  /* line 27, ../projects/webstart/src/sass/blocks/_navbar.sass */
  .navbar__contacts {
    display: none;
  }
  /* line 29, ../projects/webstart/src/sass/blocks/_navbar.sass */
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  /* line 32, ../projects/webstart/src/sass/blocks/_navbar.sass */
  .navbar__logo {
    width: 90px;
  }
}

/* Стили для главного экрана */
/* line 1, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

/* line 4, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-block {
  display: flex;
}

/* line 6, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

/* line 9, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-text__title {
  font-size: 41px;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Light';
}

/* line 15, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 70px;
}

/* line 20, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-list {
  margin: 0;
  padding: 0;
}

/* line 23, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* line 27, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-list__item:last-child {
  margin-bottom: 0;
}

/* line 29, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-list__image {
  flex-basis: 40px;
  height: 40px;
  border: 2px solid #ffd000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

/* line 38, ../projects/webstart/src/sass/blocks/_hero.sass */
.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  /* line 43, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-block {
    flex-direction: column;
  }
  /* line 45, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-list {
    margin-bottom: 44px;
  }
  /* line 47, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  /* line 52, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  /* line 56, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  /* line 60, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-text-list__item {
    margin-bottom: 20px;
  }
  /* line 62, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-text-list__text {
    font-size: 12px;
  }
  /* line 64, ../projects/webstart/src/sass/blocks/_hero.sass */
  .hero-text-list__image {
    margin-right: 15px;
  }
}

/* Стили для блока offer */
/* line 1, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

/* line 6, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* line 14, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

/* line 18, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

/* line 23, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

/* line 26, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

/* line 29, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__input:first-child {
  margin-right: 10px;
}

/* line 31, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__button {
  width: 100%;
  min-height: 70px;
}

/* line 35, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__subtext {
  display: flex;
  justify-content: space-between;
}

/* line 39, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__description {
  display: inline-block;
  width: 225px;
  margin-top: 20px;
  font-size: 15px;
}

/* line 46, ../projects/webstart/src/sass/blocks/_offer.sass */
.offer__tel {
  display: inline-block;
  width: 195px;
  margin-top: 20px;
  font-size: 15px;
}

@media (max-width: 1200px) {
  /* line 54, ../projects/webstart/src/sass/blocks/_offer.sass */
  .offer {
    background-size: cover;
  }
  /* line 56, ../projects/webstart/src/sass/blocks/_offer.sass */
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 59, ../projects/webstart/src/sass/blocks/_offer.sass */
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  /* line 62, ../projects/webstart/src/sass/blocks/_offer.sass */
  .offer {
    background: #ffffff;
  }
  /* line 64, ../projects/webstart/src/sass/blocks/_offer.sass */
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

/* Стили для блока портфолио */
/* line 1, ../projects/webstart/src/sass/blocks/_portfolio.sass */
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.png") repeat-y center left;
  background-size: 50%;
}

/* line 4, ../projects/webstart/src/sass/blocks/_portfolio.sass */
.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

/* line 7, ../projects/webstart/src/sass/blocks/_portfolio.sass */
.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}

/* line 14, ../projects/webstart/src/sass/blocks/_portfolio.sass */
.slider__image {
  margin: auto;
  padding: 5px;
}

/* Стили для блока с ценами */
/* line 2, ../projects/webstart/src/sass/blocks/_price.sass */
.price__title {
  margin: auto;
  margin-bottom: 58px;
}

/* line 5, ../projects/webstart/src/sass/blocks/_price.sass */
.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

/* line 8, ../projects/webstart/src/sass/blocks/_price.sass */
.price__card {
  margin-bottom: 30px;
}

/* line 10, ../projects/webstart/src/sass/blocks/_price.sass */
.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  transition: 0.2s;
}

/* line 14, ../projects/webstart/src/sass/blocks/_price.sass */
.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

/* line 16, ../projects/webstart/src/sass/blocks/_price.sass */
.card:hover .card__image:before {
  opacity: 1;
}

/* line 19, ../projects/webstart/src/sass/blocks/_price.sass */
.card__text {
  padding: 40px;
}

/* line 21, ../projects/webstart/src/sass/blocks/_price.sass */
.card__title {
  margin-top: 0;
}

/* line 23, ../projects/webstart/src/sass/blocks/_price.sass */
.card__image {
  position: relative;
}

/* line 25, ../projects/webstart/src/sass/blocks/_price.sass */
.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.2s;
}

/* line 35, ../projects/webstart/src/sass/blocks/_price.sass */
.card__link {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

/* line 42, ../projects/webstart/src/sass/blocks/_price.sass */
.card__link:hover::after {
  height: 12px;
  display: block;
}

/* line 45, ../projects/webstart/src/sass/blocks/_price.sass */
.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd000;
  transition: 0.2s;
}

/* line 56, ../projects/webstart/src/sass/blocks/_price.sass */
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 61, ../projects/webstart/src/sass/blocks/_price.sass */
.img-block {
  display: block;
}

/* Стили для блока формы */
/* line 1, ../projects/webstart/src/sass/blocks/_brif.sass */
.brif {
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.png");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

/* line 6, ../projects/webstart/src/sass/blocks/_brif.sass */
.brif-block {
  display: flex;
}

/* line 8, ../projects/webstart/src/sass/blocks/_brif.sass */
.brif__interview {
  flex-basis: 50%;
}

/* line 10, ../projects/webstart/src/sass/blocks/_brif.sass */
.brif__form {
  flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

/* line 14, ../projects/webstart/src/sass/blocks/_brif.sass */
.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

/* line 18, ../projects/webstart/src/sass/blocks/_brif.sass */
.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* line 25, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview {
  padding-right: 70px;
}

/* line 27, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
}

/* line 30, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

/* line 34, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview-list {
  list-style: none;
  padding: 0;
}

/* line 37, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* line 41, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

/* line 51, ../projects/webstart/src/sass/blocks/_brif.sass */
.interview-list__text {
  max-width: 400px;
}

/* line 54, ../projects/webstart/src/sass/blocks/_brif.sass */
.form__title {
  margin-bottom: 50px;
  font-size: 22px;
}

/* line 57, ../projects/webstart/src/sass/blocks/_brif.sass */
.form__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

/* line 61, ../projects/webstart/src/sass/blocks/_brif.sass */
.form__description {
  display: block;
}

@media (max-width: 1200px) {
  /* line 65, ../projects/webstart/src/sass/blocks/_brif.sass */
  .brif__form {
    padding-left: 30px;
  }
  /* line 67, ../projects/webstart/src/sass/blocks/_brif.sass */
  .interview {
    padding-right: 30px;
  }
  /* line 69, ../projects/webstart/src/sass/blocks/_brif.sass */
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  /* line 72, ../projects/webstart/src/sass/blocks/_brif.sass */
  .interview__subtitle {
    margin-bottom: 30px;
  }
  /* line 75, ../projects/webstart/src/sass/blocks/_brif.sass */
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  /* line 78, ../projects/webstart/src/sass/blocks/_brif.sass */
  .interview-list__counter {
    margin-right: 20px;
  }
  /* line 81, ../projects/webstart/src/sass/blocks/_brif.sass */
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  /* line 84, ../projects/webstart/src/sass/blocks/_brif.sass */
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  /* line 88, ../projects/webstart/src/sass/blocks/_brif.sass */
  .brif {
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.png");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  /* line 93, ../projects/webstart/src/sass/blocks/_brif.sass */
  .brif-block {
    flex-direction: column;
  }
  /* line 95, ../projects/webstart/src/sass/blocks/_brif.sass */
  .brif__form {
    margin-top: 80px;
  }
}

/* Стили модального окна */
/* line 1, ../projects/webstart/src/sass/blocks/_modal.sass */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* line 9, ../projects/webstart/src/sass/blocks/_modal.sass */
.modal_active {
  display: flex;
}

/* line 11, ../projects/webstart/src/sass/blocks/_modal.sass */
.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

/* line 19, ../projects/webstart/src/sass/blocks/_modal.sass */
.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */